<style type="text/css">
html {
   background-image: none !important;
}
.indexPosition {
	margin-right: 5% !important;
    margin-left: 5% !important;
    margin-top: 5% !important;
}
#mainContent {
    width: auto !important;
}
</style>

<div align="center" id="container_grafico">Cargando Gráfico...</div>
<div align="center" ng-cloak>
	<div class="buttonDiv">
		<md-button class="button md-raised" ui-sref="menu"> <span>
			{{'BOTON.VOLVER' | translate}} </span> </md-button>
	</div>
</div>