 <div align="center" ng-cloak>
     <div class="titleSection marginBottom10">
         <div class="contentTitleSection centerDiv">
             <div class="logoWom"></div>
             <h2>{{ 'PORTABILIDAD.TITULO' | translate}}</h2>
         </div>
     </div>
     <div>
<!--  			<md-button class="button md-raised">  -->
<!--  				<span>{{"MENU.PORTABILIDAD"| translate }}</span> -->
<!--  			 </md-button> -->
<!--  			<br /> -->
<!--  			<md-button class="button md-raised" ui-sref="estado"> -->
<!--  				<span>{{ "MENU.REVISAR"| translate }}</span> -->
<!--  			</md-button> -->
<!--  		   	<br /> -->
<!--  			<md-button class="button md-raised" ui-sref="usuario">	 -->
<!--  				<span>{{ "MENU.EJEC" | translate }}</span> -->
<!--  			</md-button>			 -->
<!--  			<br /> -->
<!--  			<md-button class="button md-raised" ui-sref="pos"> -->
<!--  				<span>{{ "MENU.POS" | translate }}</span> -->
<!--  			</md-button> -->
			<md-button class="button md-raised" ui-sref="grafico">
				<span>{{ "MENU.GRAFIC" | translate }}</span>
			</md-button>
			
			<md-button class="button md-raised" ui-sref="graficoMult">
				<span>{{ "MENU.GRAFIC_MULT" | translate }}</span>
			</md-button>
			
			<md-button class="button md-raised" ui-sref="graficoMult2">
				<span>{{ "MENU.GRAFIC_MULT2" | translate }}</span>
			</md-button>
			
			<md-button class="button md-raised" ui-sref="graficoMult3">
				<span>{{ "MENU.GRAFIC_MULT3" | translate }}</span>
			</md-button>
		<!--  			<md-button class="button marginTop40 md-raised"> -->
		<!--  				<span>{{ "BOTON.SALIR" | translate }}</span> -->
		<!--  			</md-button> -->
	</div>
 </div>