@media all and (min-width: 600px) and (max-width: 1000px){

	/* common styles */
    html {
        overflow-y: auto !important;
        overflow-x: auto !important;
    }
	#mainContent {
	    width: 450px;
	    background-color: rgba(76,11,95,0.9);
	    padding-bottom:20px;
	}
	.frameBodyItem {
        max-height: none;
        overflow: auto;
    }
    .tablaEstado tbody {
        max-height: none;
        overflow: auto;
    }
    .tablaPunto tbody {
        max-height: none;
        overflow: auto;
    }
    .tablaUsuario tbody {
        max-height: none;
        overflow: auto;
    }
}