/* Tinet - Claudio Lopez */
/* common styles */
html {
    margin: 0px;
    padding: 0px;
    background-color: #300E6C;
    background-image: url(../images/wom-background.png);
    background-repeat: repeat;
    background-size: auto 100%; 
    background-attachment: fixed;
    overflow-y:  hidden !important;
    overflow-x:  hidden !important;
}
body{
    margin: 0px;
    padding: 0px;
    background: none;
    height: auto;
    color: #FFFFFF;
}

select {
	-webkit-appearance:none !important;
	outline: none !important;
}
select:disabled {
    background-color: #FFFFFF;
}

input[type="date"] {
	-webkit-appearance: none !important;
	outline: none !important;
}
input[type="text"] {
	outline: none !important;
}
input {
	outline: none !important;
}

.indexPosition {
    margin-left: auto;
    margin-right: 5%;
}

.overflowStyle {
    overflow-y: auto;
}
.centerDiv {
    margin: 0 auto;
}
.left {
    float: left;
}
.anchor {
    clear: both;
}
.right {
	float: right;
}
.logoWom {
    width:75px;
    height:75px;
    background: url(../images/wom-logo.png);
    background-size: 75px; 
}
#mainContent {
    width: 450px;
    background-color: rgba(76,11,95,0.8);
    padding-bottom:20px;
}
.bodyContentFlow {
	max-height: -webkit-calc(100vh - 240px);
    max-height: -moz-calc(100vh - 240px);
    max-height: -calc(100vh - 240px);
    overflow: auto;
}
.titleSection {
    padding-top:20px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    width: 100%;
    min-width: 100%;
    background-color: rgba(76,11,95,1);
}
.contentTitleSection {
    display:inline-block;
}
.text-left {
    text-align: left;
}
a {
    color:#FFFFFF;
    text-align: left;
    text-decoration: none;
}
.deleteMarginBottom {
    margin-bottom: 0px !important;
}
.deleteMarginTop {
    margin-top: 0px !important;
}
.twoSection .buttonInItem {
	margin-top: 1px !important;
}
.marginBottom10 {
	margin-bottom: 10px;
}
.marginBottom15 {
    margin-bottom: 15px !important;
}
.marginTop10 {
    margin-top: 10px !important;
}
.marginTop20 {
    margin-top: 20px !important;
}
.marginTop40 {
    margin-top: 40px !important;
}
.marginBottom10 {
    margin-bottom: 10px !important;
}
.grey {
	background-color: #EBEBE4 !important;
}
.button {
    background-color: #F2F2F2 !important;
    font-weight: bolder !important;
    color: #720184 !important;
    width: 70%;
    height: 45px;
    line-height: 45px !important;
    text-transform: none !important;
}
.buttonStatic {
    border: 2px solid #4C0B5F !important;
    background-color: #F2F2F2 !important;
    font-weight: 600 !important;
    color: #720184 !important;
    width: 145px;
    height: 40px;
    text-transform: none !important;
}
.buttonLabel {
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #F2F2F2 !important;
    font-weight: bolder !important;
    color: #720184 !important;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-transform: none;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer;
}
.buttonInItem {
    background-color: #F2F2F2 !important;
    font-weight: bolder !important;
    color: #720184 !important;
    width: 200px;
    min-height: 30px !important;
    line-height: 30px !important;
    text-transform: none !important;
    margin-left:5px !important;
    margin-right: 5px !important;
    margin-top: 2px !important;
    margin-bottom: 0px !important;
}
md-select {
    margin: 0px !important;
    height: 35px !important;
    color: black !important;
}
.height35px {
	height: 35px !important;
}
.width100px {
	width: 100px !important;
}
.width110px {
	width: 110px !important;
}
.width130px {
	width: 130px !important;
}
.width150px {
    width: 150px !important;
}
.width200px {
    width: 200px !important;
}

.button2 {
    background-color: #F2F2F2 !important;
    font-weight: bolder !important;
    color: #720184 !important;
    width: 70%;
    height: 45px;
    text-transform: none !important;
}

.button3 {
    background-color: #F2F2F2 !important;
    font-weight: 700 !important;
    color: #720184 !important;
    width: 180px;
    height: 45px;
    text-align: center;
    text-transform: none !important;
}

.buttonSmall {
    border: 2px solid #4C0B5F !important;
    background-color: #F2F2F2 !important;
    font-weight: 500 !important;
    color: #720184 !important;
    width: 120px !important;
    height: 25px;
    text-align: center;
    text-transform: none !important;
    font-size: 15px !important;
    font-family: arial !important;
}

.buttonSmall2 {
    border: 2px solid #4C0B5F !important;
    background-color: #F2F2F2 !important;
    font-weight: 600 !important;
    color: #720184 !important;
    width: 90px;
    height: 35px;
    text-align: center;
    text-transform: none !important;
    font-size: 12px !important; 
    font-family: arial !important;
    padding-top: 3px;
}
.alignCenter {
    display:inline-block;
}
.twoSection {
	width: 50%;
}
/* Loading frame */
#loadingFrame {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
#loadingFrame .loadingIcon {
    width: 62px;
    height:62px;
    margin: auto;
    margin-top: 50vh;
    vertical-align: center;
}

/* Login section */
#frameLogin {
    text-align: center;
}
#titleLogin {
    background-color: rgba(76,11,95,1);
    padding-top: 20px;
    padding-bottom:5px;
    margin-bottom: 5px;
}
.inputDivLogin {
    border: #b8b8b8 1px solid;
    background-color: #FFFFFF;
    border-radius:5px;
    width: 200px;
    height: 35px;
    padding-left: 50px;
    margin: 10px auto;
}
#frameLogin input[type=text] {
    background-image: url(../images/usuario.png);
    background-size:40px auto;
    background-position: left center;
    background-repeat: no-repeat;
    border: none;
}
#frameLogin input[type=password] {
    background-image: url(../images/safety.png);
    background-size:100% auto;
    background-size:35px auto;
    background-position: left center;
    background-repeat: no-repeat;
    margin-top: 5px;
    border: none;
}

/* Body content */
.portabilidadItem {
    width: 100%;
}
.portabilidadItem .frameBodyItem {
    background-color: #FFFFFF;
    overflow: auto;
}
.portabilidadItem .numberItem {
    width:28%;
    padding: 3px 0px;
    padding-right: 2%;
    text-align: right;
    font-weight: bold;
}
.portabilidadItem .titleItem {
    color: #000000;
    background-color: #BDBDBD;
    width:68%;
    padding: 3px 0px;
    padding-left: 2%;
    text-align: left;
    font-weight: bold;
}
.bodyItemCenter {
    display:inline-block;
}
.paso2 .bodyItem {
    margin: 0px;
}
.paso2 .bodyItem .inputDiv {
    margin-top: 0px !important;
    margin-bottom: 0px;
}
.paso2 .errorGhost {
    height: 10px !important;
}
.inputDiv {
    border: #4C0B5F 1px solid;
    background-color: #FFFFFF;
    border-radius:5px;
    width: 280px;
    height: 35px;
    margin: 10px auto;
}
.paso2 .inputDiv {
    margin: 20px auto;
}
.inputDiv input {
    border: none;
    max-width: 200px;
    width: 60%;
    height: 33px;
    background-color: transparent !important;
    background: transparent !important;
}
.inputDiv .widthImei {
	max-width: 120px;
	width: 40%;
}
.portabilidadItem .inputDiv select {
    border: none;
    width: 210px;
    height: 33px;
}
.portabilidadItem .iconHuella {
    width: 35px;
    height: 35px;
    background-image: url(../images/huella.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
.portabilidadItem .iconCheck {
    width: 35px;
    height: 35px;
    background-image: url(../images/check.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
.portabilidadItem .iconCellphone {
    width: 35px;
    height: 35px;
    background-image: url(../images/cellphone.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
.portabilidadItem .iconCarnet {
    width: 35px;
    height: 35px;
    background-image: url(../images/carnet.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
.portabilidadItem .iconName {
    width: 35px;
    height: 35px;
    background-image: url(../images/usuario.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
.portabilidadItem .iconLastName {
    width: 35px;
    height: 35px;
    background-image: url(../images/apellido.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
}
.portabilidadItem .iconEmail {
    width: 35px;
    height: 35px;
    background-image: url(../images/email.png);
    background-position: center;
    background-size: auto 20px;
    background-repeat: no-repeat;
}
.portabilidadItem .iconLocation {
    width: 35px;
    height: 35px;
    background-image: url(../images/location.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
}
.portabilidadItem .iconCamera {
    width: 35px;
    height: 35px;
    background-image: url(../images/camera.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
.portabilidadItem .iconText {
    width: 35px;
    height: 35px;
    line-height: 35px;
    color:#000000;
    font-weight: bold;
}
.portabilidadItem .searchButton {
    width:120px;
    margin-left: auto;
    margin-right: 10px;
}
.frameBodyItem {
    max-height: -webkit-calc(100vh - 240px);
    max-height: -moz-calc(100vh - 240px);
    max-height: -calc(100vh - 240px);
    overflow: auto;
}
.errorLabel {
	margin-top: 5px;
    width:100%;
    min-height: 24px;
    background-color: #FF0000;
    line-height: 24px;
    margin-bottom: 5px;
    text-align: center;
}
.errorGhost {
    width:100%;
    height: 24px;
    margin-bottom: 5px;
}

.continueButton {
    display:inline-block;
    margin: 0 auto;
}
.portabilidadBoxCamera {
    height: 100px;
    width: 160px;
    border: 1px solid black;
    border-radius: 5px;
}
.imgSize {
    width: 24px;
}
/* Camara Frame*/
.contenedor-camaras {
    width: 650px;
    margin: 0 auto;
}

.contenedor-camara-ppal {
    float: left;
    width: 320px;
    height: 240px;
    margin-right: 10px
}

.contenedor-previsualizar {
    float: center;
    width: 320px;
    height: 240px;
    border: #4C0B5F 1px solid;
    margin-top: 10px
}

.contenedor-foto-camara {
    float: left
}
/* Estado de portabilidad */
.filterPortabilidad {
	margin-bottom: 10px;
}
.filterPortabilidad input, .filterPortabilidad select {
	width: 70%;
	border-radius:5px;
	border: #4C0B5F 1px solid;
    height: 25px;
    padding: 0px 2%;
}
.filterPortabilidad select {
    width: 74%;
}
.filterPortabilidad .filterTitle {
	width: 72%;
	text-align: left;
}
.tablaEstado {
    width:95%;
    margin: 10px auto;
    font-size: 12px;
}
.tablaEstado .colFecha {
    width:15%;
}
.tablaEstado .colEjecutivo {
    width:15%;
}
.tablaEstado .colEstado {
    width: 30%;
}
.tablaEstado .colPaso {
    width: 35%;
}
.tablaEstado tbody {
    max-height: -webkit-calc(100vh - 400px);
    max-height: -moz-calc(100vh - 400px);
    max-height: -calc(100vh - 400px);
    overflow: auto;
}
.tablaEstado th,
.tablaEstado td,
.tablaEstado tr,
.tablaEstado thead,
.tablaEstado tbody {
	display: block;
	text-align: center;
}

.tablaEstado tbody td {
    height: 20px;
    line-height: 20px;
}

.tablaEstado thead tr {
    width: 97%;
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

.tablaEstado tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.tablaEstado tbody td,
.tablaEstado thead th {
    float: left;
    border-right: none;
}

.tablaEstado thead tr th { 
    height: 30px;
    line-height: 30px;
}

.tablaEstado tbody { border-top: 2px solid black; }

.tablaEstado tbody td:last-child, .tablaEstado thead th:last-child {
    border-right: none !important;
}

/* Adminsitrador de puntos*/

.tablaPunto {
    width:95%;
    margin: 10px auto;
    font-size: 12px;
}
.tablaPunto .colName {
    width:30%;
}
.tablaPunto .colAdmin {
    width:40%;
}
.tablaPunto .colOption {
    width:29%;
}
.tablaPunto tbody {
    max-height: -webkit-calc(100vh - 400px);
    max-height: -moz-calc(100vh - 400px);
    max-height: -calc(100vh - 400px);
    overflow: auto;
}
.tablaPunto th,
.tablaPunto td,
.tablaPunto tr,
.tablaPunto thead,
.tablaPunto tbody {
    display: block;
    text-align: center;
}

.tablaPunto tbody td {
    height: 40px;
    line-height: 40px;
}

.tablaPunto thead tr{
    width: 97%;
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

.noSroll {
	width: 100% !important;
}

.tablaPunto tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.tablaPunto tbody td,
.tablaPunto thead th {
    float: left;
    border-right: none;
}

.tablaPunto thead tr th { 
    height: 30px;
    line-height: 30px;
}

.tablaPunto tbody { border-top: 2px solid black; }

.tablaPunto tbody td:last-child, .tablaPunto thead th:last-child {
    border-right: none !important;
}

.editarPunto .inputDiv input, .editarPunto .inputDiv select {
    width: 94%;
    height: 100%;
    padding: 0px 3%;
    border-radius:5px;
    border: 0px;
}
.editarPunto .inputDiv {
    margin: 0px !important;
}

/* ADMINISTRADOR USUARIOS */

.filterUsuarios {
    margin-bottom: 10px;
}
.filterUsuarios .inputDiv {
    width: 80%;
    margin-top: 0px;
}
.filterUsuarios input, .filterUsuarios select {
    width: 96%;
    border: 0px;
    border-radius:5px;
    height: 100%;
    padding: 0px 2%;
}
.filterUsuarios .filterTitle {
    width: 80%;
    text-align: left;
}

.tablaUsuario {
    width:95%;
    margin: 10px auto;
    font-size: 12px;
}
.tablaUsuario .colName {
    width:40%;
}
.tablaUsuario .colEdit {
    width:30%;
    border-right: 0px;
}
.tablaUsuario .colDelete {
    width:29%;
    border-left: 0px;
}
.tablaUsuario tbody {
    max-height: -webkit-calc(100vh - 400px);
    max-height: -moz-calc(100vh - 400px);
    max-height: -calc(100vh - 400px);
    overflow: auto;
}
.tablaUsuario th,
.tablaUsuario td,
.tablaUsuario tr,
.tablaUsuario thead,
.tablaUsuario tbody {
    display: block;
    text-align: center;
}

.tablaUsuario tbody td {
    height: 40px;
    line-height: 40px;
}

.tablaUsuario thead tr{
    width: 97%;
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

.noSroll {
    width: 100% !important;
}

.tablaUsuario tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.tablaUsuario tbody td,
.tablaUsuario thead th {
    float: left;
    border-right: none;
}

.tablaUsuario thead tr th { 
    height: 30px;
    line-height: 30px;
}

.tablaUsuario tbody { border-top: 2px solid black; }

.tablaUsuario tbody td:last-child, .tablaUsuario thead th:last-child {
    border-right: none !important;
}
.modal-header h4 {
	color: #4C0B5F !important;
}
.buttonUpload {
    border: 2px solid #4C0B5F !important;
    background-color: #F2F2F2 !important;
    font-weight: 600 !important;
    color: #720184 !important;
    width: 400px;
    height: 40px;
    text-transform: none !important;
    align: left;
}