@media all and (max-width: 599px) {

	/* common styles */
	html {
        overflow-y: auto !important;
        overflow-x: auto !important;
    }
	.indexPosition {
	    margin-left: auto;
	    margin-right: auto;
	}
	.logoWom {
	    width:50px;
	    height:50px;
	    background: url(../images/wom-logo.png);
	    background-size: 50px; 
	}
	h1 {
	   font-size: 15px;
	}
	#mainContent {
	    background-color: rgba(76,11,95,0.9);
	    padding-bottom:20px;
	}
	.tablaEstado {
	    font-size: 10px;
	}
	.tablaEstado thead tr {
	    width: 100%;
	}
	.tablaEstado tbody {
	    max-height: none;
	}
	.frameBodyItem {
    max-height: none;
    overflow: auto;
    }
    .bodyContentFlow {
	    max-height: none;
        overflow: auto;
	}
}
@media all and (max-width: 480px) and (orientation:portrait) {
    #mainContent {
        width: 100%;
        min-height: 100vh;
    }
    .containerApp {
        min-height: 100vh;
    }
    html {
        background-size: auto 100%; 
    }
    .frameBodyItem {
	    max-height: none;
	    overflow: auto;
    }
    .tablaEstado tbody {
	    max-height: none;
	    overflow: auto;
	}
	.tablaPunto tbody {
	    max-height: none;
	    overflow: auto;
	}
	.tablaUsuario tbody {
        max-height: none;
        overflow: auto;
    }
    .bodyContent {
        min-width: 100%;
        width: 100%;
    }
    .bodyContentFlow {
        max-height: none;
        overflow: auto;
    }
}
@media all and (max-width: 480px) and (orientation:landscape) {
    #mainContent {
        width: 100%;
    }
    html {
        background-image: none;
        background-size: 100% auto; 
    }
    .frameBodyItem {
	    max-height: none;
	    overflow: auto;
    }
    .tablaEstado tbody {
        max-height: none;
        overflow: auto;
    }
    .tablaPunto tbody {
        max-height: none;
        overflow: auto;
    }
    .tablaUsuario tbody {
	    max-height: none;
	    overflow: auto;
	}
	.bodyContent {
        min-width: 100%;
        width: 100%;
    }
    .bodyContentFlow {
        max-height: none;
        overflow: auto;
    }
}