/* Tinet - Claudio Lopez */
/* styles adapted for higher pages to 1000 pixels */
@media screen and (min-width: 1001px) {
	html {
	    background-size: 100% auto; 
    }
}
@media only screen and (min-height: 800px) {

    html {
    background-size: auto 100% !important;
    }
}