<div align="center" ng-cloak>
		<form name="estadoPortabilidadForm">
			<div class="titleSection">
		        <div class="contentTitleSection centerDiv">
		            <div class="logoWom left"></div>
		            <div class="left"><h2>{{'ESTADO.TITULO' | translate}}</h2></div>
		            <div class="anchor"></div>
		        </div>
		    </div>
			<div class="twoSection left filterPortabilidad">
					<div class="filterTitle">{{ 'ESTADO.FECHA.INICIO' | translate }}:</div>
					<div> 
						<input type="date" name="fechaInicio" ng-model="filtros.fechaInicio" class="selectInput"></input>
					</div>
			</div>
			<div class="twoSection left filterPortabilidad">
                    <div class="filterTitle">{{ 'ESTADO.FECHA.FIN' | translate }}:</div>
                    <div> 
                        <input type="date" name="fechaFin" ng-model="filtros.fechaFin" class="selectInput"></input>
                    </div>
              </div>
			<div class="anchor"></div>
			<div class="twoSection left filterPortabilidad">
					<div class="filterTitle">{{ 'ESTADO.USUARIO' | translate }}:</div>
					<div>
							<select name="idEjecutivo" id="idEjecutivo" ng-model="filtros.ejecutivo"
							ng-options="option.nombre as option.nombre for option in usuarios">
								<option value="">{{ 'ESTADO.SELECCION.DEFAULT' | translate}}</option>
   							</select>
					</div>
			</div>
		      <div class="twoSection left filterPortabilidad">
					<div class="filterTitle">{{ 'ESTADO.PUNTO' | translate }}:</div>
					<div>
					     	<select ng-model="filtros.idPunto" name="idPunto" id="idPunto" class="selectInput" 
					      	ng-options="option.id as option.nombreCorto for option in puntos">
						     	<option value="">{{ 'ESTADO.SELECCION.DEFAULT' | translate}}</option>
   	    					</select>
					</div> 
				</div>
				<div class="anchor"></div>
				<md-button class="buttonInItem md-raised" ng-click="epc.buscar()" id="filtrar" name="filtrar">
						<span>{{ 'ESTADO.BUSCAR.PORTABILIDADES' | translate}}</span>
				</md-button>
				<div class="anchor"></div>
			     <table class="tablaEstado" id="data" name="data" ng-hide="estadosPortabilidad == ''"> 
						<thead>
							<tr class="{{(estadosPortabilidad.length <= 10) ? 'noSroll' : ''}}">
								<th class="colFecha"><span>{{ 'ESTADO.FECHA' | translate }}</span></th>
								<th class="colEjecutivo"><span>{{ 'ESTADO.EJECUTIVO' | translate }}</span></th>
								<th class="colEstado"><span>{{ 'ESTADO.ESTADO' | translate }}</span></th>
								<th class="colPaso"><span>{{ 'ESTADO.PASO' | translate }}</span></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="estadoPortabilidad in estadosPortabilidad"
								ng-hide="estadosPortabilidad == ''">
								<td class="colFecha">{{estadoPortabilidad.fecha | date : 'dd/MM/yy' }}</td>
								<td class="colEjecutivo">{{estadoPortabilidad.nombreEjecutivo}}</td>
								<td class="colEstado">{{estadoPortabilidad.estado}}</td>
								<td class="colPaso">{{estadoPortabilidad.paso}}</td>
							</tr>
						</tbody>
					</table>
					<div style="height:40px;"  ng-show="estadosPortabilidad == ''">
					</div>
					<div ng-hide="estadosPortabilidad != null && estadosPortabilidad.length > 0 || onClick == true"
						style="width: 100%; text-align: center;">
						{{ 'ESTADO.SIN.REGISTROS' | translate}}	
					</div>
				<md-button class="button md-raised" ui-sref="principal">
					<span>{{'BOTON.VOLVER' | translate}}</span>
				</md-button>
		</form>
</div>