<div align="center" ng-cloak>
            <div class="titleSection">
                <div class="contentTitleSection centerDiv">
                    <div class="logoWom left"></div>
                    <div class="left"><h2>{{ 'POS.TITULO' | translate}}</h2></div>
                    <div class="anchor"></div>
                </div>
            </div>
             <md-button class="button width150px md-raised" ui-sref="punto-nuevo">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span>{{'POS.NUEVO' | translate}}</span>
              </md-button>
         
        <table class="tablaPunto"> 
                        <thead>
                            <tr class="{{(puntos.length <= totalRecords) ? 'noSroll' : ''}}">
                                <th class="colName"><span>{{ 'POS.NOMBRE.CORTO' | translate }}</span></th>
                                <th class="colAdmin"><span>{{ 'POS.ADMINISTRADOR' | translate }}</span></th>
                                <th class="colOption"><span></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="punto in puntos">
                                <td class="colName">{{punto.nombreCorto}}</td>
                                <td class="colAdmin">
                                    <span ng-show="punto.nombreAdministrador == 'No asignado'">{{punto.nombreAdministrador}}</span>
                                    <a ng-hide="punto.nombreAdministrador == 'No asignado'" ui-sref="usuario.edit({nombre:punto.nombreAdministrador})">{{punto.nombreAdministrador}}</a>
                                </td>
                                <td class="colOption">
                                    <md-button ui-sref="punto-editar({id:punto.id})" class="buttonInItem width100px md-raised">
                                    <span>{{ 'POS.EDITAR.CORTO' | translate }}</span>
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
		<div class="buttonDiv">
			<md-button class="button md-raised" ui-sref="principal">
				<span> {{'BOTON.VOLVER' | translate}} </span>
			</md-button>
		</div>
</div>