<div align="center" ng-cloak>
		<form name="puntoEditarForm">
			    <div class="titleSection">
                <div class="contentTitleSection centerDiv">
                    <div class="logoWom left"></div>
                    <div class="left"><h2>{{ 'POS.TITULO' | translate}}</h2></div>
                    <div class="anchor"></div>
                </div>
            </div>
			<div class="editarPunto marginTop10">
			    <span><b>{{ 'POS.ID' | translate}} :</b> {{ pec.puntoEditar.id }} </span>
			    <input type="hidden" id="id" name="id" ng-model="pec.puntoEditar.id" class="inputText"/>
                </br>
                <div>
	                <label>{{ 'POS.NOMBRE.CORTO' | translate}}</label>
				    <div class="inputDiv">
	                                <input type="text" id="nombreCorto" name="nombreCorto" ng-model="pec.puntoEditar.nombreCorto" 
	                                ng-trim="true" class="inputText" autocomplete="off" solo-Alpha required/>
	                             </div>
				</div>
				<div class="errorLabel" ng-show="!puntoEditarForm.nombreCorto.$pristine && puntoEditarForm.nombreCorto.$error.required">
                            <img src="content/images/mano-error.png" class="imgSize"></img>
                            <span>{{ 'POS.NUEVO.ERROR.NOMBRE.CORTO' | translate}}</span>
                </div>
                <div class="errorGhost" ng-hide="!puntoEditarForm.nombreCorto.$pristine && puntoEditarForm.nombreCorto.$error.required"></div>
                <div>
                    <label>{{ 'POS.NOMBRE.COMPLETO' | translate }}</label>
                    <div class="inputDiv">
                            <input type="text" id="nombreCompleto" name="nombreCompleto" ng-model="pec.puntoEditar.nombreCompleto"
                            ng-trim="true" class="inputText" autocomplete="off" solo-Alpha required/>
                            </div>
                </div>
                <div class="errorLabel" ng-show="!puntoEditarForm.nombreCompleto.$pristine && puntoEditarForm.nombreCompleto.$error.required">
                   <img src="content/images/mano-error.png" class="imgSize"></img>
                   <span>{{ 'POS.NUEVO.ERROR.NOMBRE.COMPLETO' | translate}}</span>
                </div>
                <div class="errorGhost" ng-hide="!puntoEditarForm.nombreCompleto.$pristine && puntoEditarForm.nombreCompleto.$error.required"></div>
                <div>
	                <label>{{ 'POS.DIRECCION' | translate }}</label>
	                <div class="inputDiv">
	                            <input type="text" id="direccion" name="direccion"  ng-model="pec.puntoEditar.direccion"
	                            ng-trim="true" class="inputText" autocomplete="off" solo-Alpha required/>
	                </div>
                </div>
                <div class="errorLabel" ng-show="!puntoEditarForm.direccion.$pristine && puntoEditarForm.direccion.$error.required">
                            <img src="content/images/mano-error.png" class="imgSize"></img>
                            <span>{{'POS.NUEVO.ERROR.DIRECCION' | translate}}</span></div>
                <div class="errorGhost" ng-hide="!puntoEditarForm.direccion.$pristine && puntoEditarForm.direccion.$error.required"></div>
				<div id="messages">
					<div class="okMessage" ng-show="pec.editoCorrecto">
						<span>{{ 'POS.EDITAR.OK' | translate }}</span>
					</div>
					<div class="nokMessage" ng-show="pec.editoConError">
						<span> {{ serviceErrorMessage }} </span>
					</div>
				</div>
			</div>
			<div class="twoSection left">
				<md-button class="button md-raised" ui-sref="pos">{{'BOTON.VOLVER' | translate}}</md-button>
			</div>
			<div class="twoSection left">
				<md-button class="button md-raised" ng-click="pec.editarPunto()" ng-disabled="!puntoEditarForm.$valid">
								{{'BOTON.EDITAR' | translate}}&nbsp;<span class="glyphicon glyphicon-pencil"></span>
				</md-button>
		     </div>
				<div class="anchor"></div>
		</form>
</div>