<div align="center" ng-cloak>
	<form name="puntoNuevoForm">
            <div class="titleSection">
                <div class="contentTitleSection centerDiv">
                    <div class="logoWom left"></div>
                    <div class="left"><h2>{{ 'POS.NUEVO.TITULO' | translate}}</h2></div>
                    <div class="anchor"></div>
                </div>
            </div>
            <div class="editarPunto marginTop10">
                <div>
                    <label>{{ 'POS.NOMBRE.CORTO' | translate}}</label>
                    <div class="inputDiv">
                        <input type="text" id="nombreCorto" name="nombreCorto" ng-model="pnc.puntoNuevo.nombreCorto" ng-trim="true" 
                            autocomplete="off" ng-disabled="pnc.guardoCorrecto" class="inputText" solo-Alpha required/>
                        </div>
                </div>
                <div  class="errorLabel" ng-show="!puntoNuevoForm.nombreCorto.$pristine && puntoNuevoForm.nombreCorto.$error.required">
                            <img src="content/images/mano-error.png" class="imgSize"></img>
                            <span>{{ 'POS.NUEVO.ERROR.NOMBRE.CORTO' | translate}}</span></div>
                <div class="errorGhost" ng-hide="!puntoNuevoForm.nombreCorto.$pristine && puntoNuevoForm.nombreCorto.$error.required"></div>
                <div>
                    <label>{{ 'POS.NOMBRE.COMPLETO' | translate }}</label>
                    <div class="inputDiv">
                            <input type="text" id="nombreCompleto" name="nombreCompleto" ng-model="pnc.puntoNuevo.nombreCompleto" ng-trim="true"
                            autocomplete="off" ng-disabled="pnc.guardoCorrecto" class="inputText" solo-Alpha required/>
                            </div>
                </div>
                <div class="errorLabel" ng-show="!puntoNuevoForm.nombreCompleto.$pristine && puntoNuevoForm.nombreCompleto.$error.required">
                            <img src="content/images/mano-error.png" class="imgSize"></img>
                            <span>{{ 'POS.NUEVO.ERROR.NOMBRE.COMPLETO' | translate}}</span></div>
                <div class="errorGhost" ng-hide="!puntoNuevoForm.nombreCompleto.$pristine && puntoNuevoForm.nombreCompleto.$error.required"></div>
                <div>
                    <label>{{ 'POS.DIRECCION' | translate }}</label>
                    <div class="inputDiv">
                                <input type="text"  id="direccion" name="direccion" ng-model="pnc.puntoNuevo.direccion" ng-trim="true"
                            autocomplete="off" ng-disabled="pnc.guardoCorrecto" class="inputText" solo-Alpha required/>
                    </div>
                </div>
                <div class="errorLabel" ng-show="!puntoNuevoForm.direccion.$pristine && puntoNuevoForm.direccion.$error.required">
                            <img src="content/images/mano-error.png" class="imgSize"></img>
                            <span>{{ 'POS.NUEVO.ERROR.DIRECCION' | translate}}</span></div>
                <div class="errorGhost" ng-hide="!puntoEditarForm.direccion.$pristine && puntoEditarForm.direccion.$error.required"></div>
                <div id="message">
                    <div class="okMessage" ng-show="pnc.guardoCorrecto">
                        <span>{{ 'POS.NUEVO.OK' | translate }}</span>
                    </div>
                    <div class="nokMessage" ng-show="pnc.guardoConError">
                        <span>{{ serviceErrorMessage }}</span>
                    </div>
                </div>
            </div>
            <div class="twoSection left">
                <md-button class="button md-raised" ui-sref="pos">{{'BOTON.VOLVER' | translate}}</md-button>
            </div>
            <div class="twoSection left">
                <md-button class="button md-raised" ng-click="pnc.guardar()" ng-disabled="pnc.guardoCorrecto"
                            ng-disabled="!puntoNuevoForm.$valid">{{'BOTON.GUARDAR' | translate}}</md-button>
             </div>
                <div class="anchor"></div>
        </form>
</div>